@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    min-width: 65%;

    &_logo {
        width: 475px;
    }

    &_header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: fit-content;

        font-family: $font-sf-ui-display-semibold;
        font-size: 24px;
        line-height: 150%;
        text-align: center;

        color: $font-color;
    }

    &_text {
        max-width: 940px;

        font-family: $font-open-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: left;

        color: $font-color;

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }

    &_link {
        text-decoration: none;
        color: $link-color;
    }
}

@media screen and (max-width: 1440px) {
    .info  {
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    } 
  }
