$background-color: #FFFFFF;
$font-color: #353238;
$font-disabled-color: #828282;
$primary-color: #0086A8;
$hover-color: #007693;
$active-color: #00657E;
$error-color: #EB5E55;
$disabled-color: #E3E3E3;
